<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="app">

    <table border="1" cellspacing="0">
      <tr>
        <th>项目名称</th>
        <th>模块名称</th>
        <th>任务名称</th>
        <th>完成进度</th>
      </tr>

      <tr v-for="(item,itemIndex) in mydata" :key="itemIndex">
        <td v-if="item.projectName" :rowspan="item.rowspan1">
          {{item.projectName}}
        </td>
        <td v-if="item.modelName" :rowspan="item.rowspan2">
          {{item.modelName}}
        </td>
        <td>{{item.taskName}}</td>
        <td>{{item.completeRate}}</td>
      </tr>
    </table>

  </div>
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          tableData: [
            {
              projectName: "项目一",
              model: [
                {
                  modelName: "博客",
                  task: [
                    {
                      taskName: "任务一",
                      completeRate: "34%",
                    },
                    {
                      taskName: "任务二",
                      completeRate: "50%",
                    },
                    {
                      taskName: "任务三",
                      completeRate: "80%",
                    },
                  ],
                },
                {
                  modelName: "相册",
                  task: [
                    {
                      taskName: "任务一",
                      completeRate: "50%",
                    },
                    {
                      taskName: "任务二",
                      completeRate: "14%",
                    },
                    {
                      taskName: "任务三",
                      completeRate: "62%",
                    },
                  ],
                },
              ],
            },
          ],
          data: [],
          mydata: []
        }
      },
      mounted() {
        this.getRow()
        this.flatData()
      },
      methods: {
        // 获取合并行数
        getRow() {
          let data = this.tableData.map(item => {
            let rows = 0
            item.model.forEach(item2 => {
              rows += item2.task.length
            })
            item.rowspan = rows
            return item
          })
          this.data = data
          console.log(data)
        },
        flatData() {
          this.data.forEach((projectItem) => {
            projectItem.model.forEach((modelItem, modelIndex) => {
              modelItem.task.forEach((taskItem, taskIndex) => {
                if (modelIndex === 0 && taskIndex === 0) {
                  this.mydata.push({
                    rowspan1: projectItem.rowspan,
                    projectName: projectItem.projectName,
                    rowspan2: modelItem.task.length,
                    modelName: modelItem.modelName,
                    ...taskItem
                  }
                  )
                } else if (taskIndex === 0) {
                  this.mydata.push({
                    rowspan2: modelItem.task.length,
                    modelName: modelItem.modelName,
                    ...taskItem
                  }
                  )
                } else {
                  this.mydata.push(taskItem)
                }
              })
            })
          })
        }
      },
    });
  </script>
</body>

</html>
